.application-menu {
  border: 1px solid red;
  background: palevioletred;
  display: inline-block;
  padding: 50px;
  position: relative;
  margin: auto;
}
.main-wording {
  position: relative;
  text-align: center;
}
.application-btn {
  border: 1px solid blue;
  margin: 15px 15px 0px 15px;
  position: relative;
  padding: 10px;
  text-align: center;
  top: 20px;
}