.select-user-btn {
  text-decoration: none;
  color: black;
  background: yellow;
  position: relative;
  padding: 5px;
  margin: 5px;
  display: inline-block;
}
.select-user-btn-link {
  text-decoration: none;
  color: black;
}